*
	::selection
		background: $main-color
		// color: white

body
	+main
	font-size: 24px
	color: $dark-light
	transition: opacity .5s ease
	overflow-x: hidden
	overflow-y: scroll 
	background: $bg-color
	&.loading
		opacity: 0


img
	display: block
	max-width: 100%

.custom 
  scrollbar-width: none 
  -ms-overflow-style: none 
  &::-webkit-scrollbar 
    width: 0px 
    background: transparent 


.header
	height: 100vh
	position: relative
	display: flex
	justify-content: flex-end
	&__img
		width: 76vw
		height: 73vh
		// height: 689px
		position: relative
		bottom: 0
		img
			width: 100%
			height: 100%
			object-fit: cover
			position: relative

	&__text-content
		margin-bottom: 4vh
		width: fit-content 
	.descriptor
		margin-top: 15px
		line-height: 1em
		float: right
		+medium
	&__container
		padding-left: 0px
		padding-right: 0px
		display: flex
		flex-direction: column
		align-items: flex-start
		justify-content: flex-end
		width: auto
		padding-top: 8vh




.img-wrapper
	position: relative
	// width: 100%
	height: 100%
	overflow: hidden
	// canvas
	// 	position: absolute
	// 	top: 0
	// 	left: 0
	// 	object-fit: cover
	.img-rewealer
		width: 100%
		height: 100%
		position: absolute
		top: 0
		left: 0
		background: #FFFBF6
		z-index: 5
	img
		transform: scale(1.12)


.header-img-shadow
	position: absolute
	left: 0
	bottom: 0
	background: $main-color
	width: 48vw
	height: 65vh
	z-index: -1

.service-item
	&__content-wrapper
		display: flex
		align-items: flex-end
		&.reverse
			flex-direction: row-reverse
		.img-wrapper
			max-width: 50%
			// img
			// 	width: 100%

.service-name
	display: flex
	align-items: flex-start
	margin-left: 3.6vw
	padding-bottom: 15px
	&.right
		margin-right: 3.6vw
	&.left
		margin-left: 3.6vw
	&__num
		font-size: 30px
		display: inline-block
		margin-top: -25px
		margin-right: 10px
		+serif

.img-shadow
	width: 100%
	height: 100%
	position: absolute
	z-index: -1
	background: $main-color
	top: 2.2vh
	&.right
		right: 1.15vw
	&.left
		left: 1.15vw


.default-item
	&__content-wrapper
		width: 100%
		display: flex
		align-items: center 
		&.reverse
			flex-direction: row-reverse
			justify-content: space-between
		.img-wrapper
			max-width: 50%
			// img
			// 	width: 100%

.default-text
	display: flex
	flex-direction: column
	justify-content: space-between
	padding-top: 20px
	padding-bottom: 20px
	width: 35%
	position: relative
	p
		line-height: 1.6em
		margin-top: 30%
	&.right
		margin-right: 3.6vw
		h2
			left: 12vw 
			width: 130%
			position: relative
			z-index: 10
	&.left
		margin-left: 11.8vw
		h2
			left: -17vw 
			width: 120%
			position: relative
			z-index: 10

.extra-text
	p
		width: 46vw
		+serif
		font-size: 35px
		color: $dark-light
		line-height: 1.7em
		letter-spacing: 0.05em 
		.word
			display: inline-block
			opacity: 0
			transform: translateY(60px)
	&.center
		p
			text-align: center

.stroke-a
	position: relative
	svg
		position: absolute
		top: 0
		left: -10px
		pointer-events: none
		display: block
		path
			transition: stroke-dashoffset .5s cubic-bezier(0.455, 0.03, 0.515, 0.955)
	a
		position: relative

.stroke-link
	cursor: pointer
