@media (max-width: 1605px)
	body
		font-size: 20px
	h1
		font-size: 90px
	h2
		font-size: 50px
	h3
		font-size: 22px
	.button
		font-size: 16px

@media (max-width: 1368px)
	h1
		font-size: 88px

@media (max-width: 1240px)
	.header
		&__button
			margin-top: 40px
		&__img
			// position: relative
			left: auto
			right: 6vw
			// top: 0
			transform: translateY(-50%)
			width: 60vw

@media (max-width: 1150px)
	.header
		&__img
			position: absolute
			left: 0
			top: 0
			transform: none
			width: 100%
		&__text-content
			color: white
			mix-blend-mode: normal
			h1
				color: white
		&__button
			border-color: white
	.content-wrapper
		flex-direction: column
		justify-content: flex-start
		align-items: flex-start
		&__left, &__right
			width: 60%
		&__left
			margin-right: 0px
		&__right
			margin-left: 0px
			margin-top: 30px
		&__second
			flex-direction: column-reverse
			.content-wrapper__left
				margin-top: 30px
				width: 60%
			.content-wrapper__right
				margin-top: 0px
		p
			margin-top: 20px
	body
		font-size: 18px
	h1
		font-size: 72px
	h2
		font-size: 46px
	h3
		font-size: 20px
	.section
		&__container
			padding-top: 80px
			&.last
				padding-bottom: 80px
	.scroll-down
		display: none
	.nav__contacts
		display: none

@media (max-width: 860px)
	.section
		&__container
			padding-top: 60px
			&.last
				padding-bottom: 60px
	.content-wrapper
		&__left, &__right
			width: 100%
		&__second
			.content-wrapper__left
				width: 100%
			.content-wrapper__right
				width: 100%
		.has-margin
			margin-top: 30px
	.header
		&__img
			width: 100%
			height: 100vh
		.img-wrapper
			width: 100%
			height: 100%
	.nav__item
		font-size: 20px
	.directions
		flex-direction: column
		margin-top: 0px
		&__item
			width: 100%
			height: 300px
			margin-top: 30px
			img
				width: 100%
				object-fit: cover
				display: block
				height: 350px
	#menu-text
		display: none

	.main-footer
		&__content
			flex-direction: column
			&__left-content
				width: 100%
			&__right-content
				width: 100%
	h1
		font-size: 36px
	h2
		font-size: 32px
	.button
		padding: 10px 30px
	.header
		&__img
			height: 43vh
		&__text-content
			color: $dark-color
			top: 65%
			h1
				color: $dark-color
			.descriptor
				margin-top: 25px
		&__button
			border-color: $dark-color
	.directions
		&__item
			height: auto
			img
				height: 250px
	.boxnav__item
		width: 20vw
		height: 18vw
	.container
		padding-left: 20px
		padding-right: 20px
	.content-wrapper__first
		margin-top: 60px
	.main-footer__content__left-content__contacts-items
		margin-top: 40px
	.main-footer__content__right-content
		margin-top: 40px
	.navbar
		padding-top: 20px
	.logo-tail
		display: none