$vertical-distance-mob: 80px

@media (max-width: 1605px)
	body
		font-size: 20px
	h1
		font-size: 90px
	h2
		font-size: 45px
	h3
		font-size: 22px
	.service-name__num
		font-size: 23px
	.extra-text
		p
			font-size: 30px
			width: 50vw

@media (max-width: 1480px)
	h1
		font-size: 75px

@media (max-height: 620px)
	.header
		justify-content: center

@media (max-width: 1260px)
	h1
		font-size: 70px
	// .header
	// 	&__container
	// 		align-items: center
	.extra-text
		p
			font-size: 25px
			width: 60vw

@media (max-width: 1150px)
	.header
		&__img
			height: auto
			width: 70vw
			img
				width: 100%
		&__container
			align-items: flex-start
	.img-wrapper
		width: 100%
	.header__container
		justify-content: flex-start
	body
		font-size: 18px
	h1
		font-size: 60px
	h3
		font-size: 20px
	h2
		font-size: 36px
	.default-text p
		margin-top: 30%
	.section
		.container
			padding-top: 140px
			&.last
				padding-bottom: 140px
	.nav__contacts
		display: none
	footer 
		.contacts-cols
			margin-top: 0px
			a
				font-size: 18px

@media (max-width: 960px)
	.default-item__content-wrapper
		flex-direction: column
		.img-wrapper
			width: 100%
			max-width: none
			margin-left: -12vw
			img
				width: 100%
		.default-text
			width: 100%
			margin-top: 50px
			&.left
				margin-left: 0px
				h2
					left: 0
				p
					margin-top: 30px

@media (max-width: 880px)
	.header
		&__container
			justify-content: center
	.header-img-shadow
		height: 55vh
		width: 80vw 
	.section
		.container
			padding-top: 100px
			&.last
				padding-bottom: 100px
	.nav__item
		font-size: 20px
	#menu-text
		display: none

	.main-footer
		&__content
			flex-direction: column
			&__left-content
				width: 100%
			&__right-content
				width: 100%
	h1
		font-size: 48px
	h2
		font-size: 32px

	.boxnav__item
		width: 20vw
		height: 18vw
	.container
		padding-left: 20px
		padding-right: 20px
	.navbar
		padding-top: 20px
	footer 
		.container
			flex-direction: column
			padding-right: 20px
			.footer-left
				width: 100%
			.footer-right
				width: 100%
				margin-top: 80px
			.footer-shadow
				left: 0
				right: auto
				height: 70vh
				width: 100%
	.extra-text
		p
			font-size: 20px
			width: 60vw
	.default-item__content-wrapper
		flex-direction: column


@media (max-width: 760px)
	.service-item
		&__content-wrapper
			flex-direction: column
			&.reverse
				flex-direction: column
		&.mob-left
			.container
				padding-left: 0px
				padding-right: 17vw
		&.mob-right
			.container
				padding-right: 0px
				padding-left: 17vw
		.service-name
			margin-top: 40px
			&__num
				margin-top: -7px
				margin-right: 8px
			&.right
				align-self: flex-start
				margin-right: 0px
				margin-left: 0px
		.img-wrapper
			max-width: 100%
	.container
		&.margin-top
			padding-top: $vertical-distance-mob
	.section
		.container
			padding-top: $vertical-distance-mob
			&.last
				padding-bottom: $vertical-distance-mob
	.default-text
		&.left
			h2
				width: 100%
	.burger
		.burger-line
			width: 21px
		.line-bottom
			margin-top: 6px
		&.clicked
			.line-top
				transform: rotate(-45deg) translateY(6px)
			.line-bottom
				transform: rotate(45deg) translateY(-6px)
	.logo
		width: 26px

@media (max-width: 480px)
	h1
		width: min-content
		line-height: 1.3em
	.header
		overflow: hidden
		&__img
			width: 100%
			margin-top: 48px
			right: -40px
			height: 38vh
		&__container
			padding-top: 10px
	.extra-text 
		p
			width: 100%
	.container
		&.second-line
			padding-left: 20px
	footer 
		.contacts-cols
			flex-direction: column
			.contacts-second-col
				margin-left: 0px
				margin-top: 20px 
		.container
			padding-bottom: 80px
			.footer-shadow
					height: 280px
	
	.default-item__content-wrapper
		.default-text
			margin-top: 30px