---
title: "Architect Andrei Bulbach: About me, my team and approach to work."
description: "I am Andrey Bulbach, an architect and interior designer from Kiev. I design commercial and residential real estate, create interior design for housing, offices, hotels."
route: about
---
{% extends "layouts/_layout.html" %}
{% block content %}
<header class="header">
  <div class="container about-container">
    <div class="header__text-content">
      <h1 class="about-h1">About</h1>
      <p class="descriptor about-descriptor">Working leisurely with pleasure</p>
    </div>
    <div class="header__about-img">
      <div class="header__img__wrapper img-wrapper">
        <div class="header__img__rewealer"></div>
        <img data-mob="img/mob/about/header" data-pc="img/about/header" src="/" alt="house">
      </div>
    </div>
    <div class="header-img-shadow about-shadow"></div>
  </div>
</header>
<main>
  <div class="extra-text">
    <div class="container second-line margin-top">
      <p>I’m Andrey Bulbach, designer and architect with a special look at ordinary things and 20 years experience in design residential and commercial real estate.</p>
    </div>
  </div>
  <div class="section">
    <div class="container center-container img-container">
      <div class="img-wrapper">
        <div class="img-rewealer left"></div>
        <img data-mob="img/mob/architecture/def-2" data-pc="img/architecture/def-2" src="/" alt="architecture-2">
      </div>
    </div>
  </div>
  <section class="section default">
    <div class="default-item">
      <div class="container">
        <div class="default-item__content-wrapper">
          <div class="img-wrapper">
            <div class="img-rewealer left"></div>
            <img data-mob="img/mob/architecture/def-1" data-pc="img/architecture/def-1" src="/" alt="architecture-1">
          </div>
          <div class="default-text left">
            <h2 class="def-h2">We create space for life, creativity and work</h2>
            <p>I believe that a home or an office is a space in which you should feel free and comfortable, energizing yourself for new accomplishments. <br><br>More functionality and light, more fun and nothing more. We create architecture and interiors that give you inspiration and confidence every day.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section default">
    <div class="default-item">
      <div class="container">
        <div class="default-item__content-wrapper reverse">
          <div class="img-wrapper">
            <div class="img-rewealer right"></div>
            <img data-mob="img/mob/architecture/def-3" data-pc="img/architecture/def-3" src="/" alt="architecture-3">
          </div>
          <div class="default-text right">
            <h2 class="def-h2">You are a personality. My job is to reflect this in architecture</h2>
            <p>The place where you live or work is your reflection. Space that fits your lifestyle, habits and character.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="extra-text">
    <div class="container second-line margin-top">
      <p>We offer thoughtful and aesthetically pleasing projects made of quality materials, in which everything will be the way you want.</p>
    </div>
  </div>
  <section class="section default">
    <div class="default-item">
      <div class="container last">
        <div class="default-item__content-wrapper">
          <div class="img-wrapper">
            <div class="img-rewealer left"></div>
            <img data-mob="img/mob/architecture/def-1" data-pc="img/architecture/def-1" src="/" alt="architecture-1">
          </div>
          <div class="default-text left">
            <h2 class="def-h2">We are a family of highly qualified specialists</h2>
            <p>Each of us is responsible for our part of the work. Together, we create projects that help our clients catch their breath <br><br>Since 2010 we have been building homes for Europe: Spain, Poland, Slovakia. During this time, we have learned how to create truly energy-efficient and comfortable housing.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% include "./partials/_footer.html" %}
{% endblock %}
