---
title: "Architect Andrei Bulbach: About me, my team and approach to work."
description: "I am Andrey Bulbach, an architect and interior designer from Kiev. I design commercial and residential real estate, create interior design for housing, offices, hotels."
route: about

h1: "About"
descriptor: "Working leisurely with pleasure"

secondScreenText: "I’m Andrey Bulbach, designer and architect with a special look at ordinary things and 20 years experience in design residential and commercial real estate."

thirdScreenH2: We create space for life, creativity and work
thirdScreenText: "I believe that a home or an office is a space in which you should feel free and comfortable, energizing yourself for new accomplishments. <br><br>More functionality and light, more fun and nothing more. We create architecture and interiors that give you inspiration and confidence every day."

fourthScreenH2: "You are a personality. My job is to reflect this in architecture"
fourthScreenText: "The place where you live or work is your reflection. Space that fits your lifestyle, habits and character."

fivethScreenText: "We offer thoughtful and aesthetically pleasing projects made of quality materials, in which everything will be the way you want."

sixthScreenH2: "We are a family of highly qualified specialists"
sixthScreenText: "Each of us is responsible for our part of the work. Together, we create projects that help our clients catch their breath <br><br>Since 2010 we have been building homes for Europe: Spain, Poland, Slovakia. During this time, we have learned how to create truly energy-efficient and comfortable housing."

---
{% include "layouts/_about.html" %}
