{% set 'title' = "Architectural projects in Kiev: visualization and engineering project." %}
{% set 'description' = "Architectural design of residential and commercial real estate in Kiev by Andrey Bulbach. 3D rendering and construction. Typical and individual projects." %}
{% set 'route' = "services" %}

{% set 'h1' = "Architecture" %}
{% set 'descriptor' = "We study and take into account the experience of architects of past generations and draw on modern design methods" %}
{% set 'mocText' = "Like in music, the beauty of architecture is the rhythm, proportions, correlation of shapes, colors and materials." %}

{% set 'secondScreenH2' = "Architectural design in Kiev" %}
{% set 'secondScreenText' = "We design private homes and commercial properties. <br><br>We create architectural, structural and engineering projects. We develop project documentation and help to choose materials." %} 

{% set 'thirdScreenText' = "We work with typical and individual projects. At the stage of architectural planning you will see how your house or building will looks like in real life." %}

{% set 'fourthScreenH2' = "Architecture complements life and makes it better" %}
{% set 'fourthScreenText' = "We carry out projects considering the rose of winds, sides of the world, proportions and other important details in composition and architecture." %}

{% set 'fivethScreenH2' = "Our design experience for over 20 years" %}
{% set 'fivethScreenText' = "Considering the wishes of the customer, we study the environment, objects, tastes and lifestyle of future residents." %}

{% set 'sixthScreenH2' = "Our projects are a symbiosis of art and architecture" %}
{% set 'sixthScreenText' = "We take on projects, making sure that they are exclusive and successful. Why? Because we also want to get a great result!" %}

{% set 'sliderText' = "When you'll drink coffee on the terrace of your house, you will understand that you made the right choice." %}
 

{% include "layouts/_architecture.html" %}