---
title: "Interior Design by Andrew Bulbach: Handmade Custom."
description: "Handmade interior design elements: lamps, paintings, vases, collages, bas-reliefs and more. Creating interior design accessories."
route: services
---
{% extends "layouts/_layout.html" %}
{% block content %}
<header class="header services-header">
  <div class="container">
    <div class="services-header__text-content">
      <span class="moc-text">Decor items are the final detail of your home interior.</span>
      <h1 class="services-h1">Handmade</h1>
      <p class="services-descriptor">We create design elements of decoration that complement and accent the style of the interior.</p>
    </div>
  </div>
  <div class="services-header-imgs">
    <div class="header-image first">
    <div class="img-wrapper">
      <div class="img-rewealer top"></div>
      <img src="img/architecture/header-1.jpg" alt="header-1">
    </div>
    </div>
    <div class="header-image second">
    <div class="img-wrapper">
      <div class="img-rewealer top"></div>
      <img src="img/architecture/header-2.jpg" alt="header-2">
    </div>
  </div>
  <div class="header-image third">
    <div class="img-wrapper">
      <div class="img-rewealer top"></div>
      <img src="img/architecture/header-3.jpg" alt="header-3">
    </div>
  </div>
  <div class="header-image fourth">
    <div class="img-wrapper fourth">
      <div class="img-rewealer top"></div>
      <img src="img/architecture/header-4.jpg" alt="header-4">
    </div>
  </div>
  </div>
</header>
<main>
  <section class="section default">
    <div class="default-item">
      <div class="container">
        <div class="default-item__content-wrapper">
          <div class="img-wrapper">
            <div class="img-rewealer left"></div>
            <img data-mob="img/mob/architecture/def-1" data-pc="img/architecture/def-1" src="/" alt="architecture-1">
          </div>
          <div class="default-text left">
            <h2 class="def-h2">Handmade design in Kiev</h2>
            <p>We create interior items. <br><br>In our spare time, we create handmade interior elements that successfully emphasize the individuality of the object.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="extra-text">
    <div class="container second-line margin-top">
      <p>We take into account a particular interior and figure out how we can complement it. Sometimes, one detail is enough to change the visual perception of the room for the better.</p>
    </div>
  </div>
  <div class="section">
    <div class="container center-container img-container">
      <div class="img-wrapper">
        <div class="img-rewealer left"></div>
        <img data-mob="img/mob/architecture/def-2" data-pc="img/architecture/def-2" src="/" alt="architecture-2">
      </div>
    </div>
  </div>
  <section class="section default">
    <div class="default-item">
      <div class="container">
        <div class="default-item__content-wrapper reverse">
          <div class="img-wrapper">
            <div class="img-rewealer right"></div>
            <img data-mob="img/mob/architecture/def-3" data-pc="img/architecture/def-3" src="/" alt="architecture-3">
          </div>
          <div class="default-text right">
            <h2 class="def-h2">Simple and functional things</h2>
            <p>Collages, paintings, plaster products, bas-reliefs, handmade lamps. We are confident that the interior creates a décor: it emphasizes detail and gives a pleasant impression.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section default">
    <div class="default-item">
      <div class="container">
        <div class="default-item__content-wrapper">
          <div class="img-wrapper">
            <div class="img-rewealer left"></div>
            <img data-mob="img/mob/architecture/def-4" data-pc="img/architecture/def-4" src="/" alt="architecture-4">
          </div>
          <div class="default-text left">
            <h2 class="def-h2 big-width">Complete the interior</h2>
            <p>We aren’t looking for references. We follow our own path when inventing decor elements. It just so happens that the simple thing, placed in the right place, completes the composition.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section center-content">
    <div class="container center-container second-line both">
      <h2 class="def-h2">Details are important</h2>
      <p>Just look at it: with the usual solutions that are placed in unusual places, we’re able to convey the mood of the interior.</p>
    </div>
  </section>
  <section class="section slider-section">
    <div class="container last">
      {% include "./partials/_slider.html" %}
      <div class="extra-text">
        <p>When you wiil drink coffee and look at the details in your house, you will understand that you made the right choice.</p>
      </div>
      <div class="slider-section__bg">
        <div class="bg"></div>
      </div>
    </div>
  </section>
</main>
{% include "./partials/_footer.html" %}
{% endblock %}
