---
title: "Interior Design by Andrey Bulbach: Handmade Custom."
description: "Handmade interior design elements: lamps, paintings, vases, collages, bas-reliefs and more. Creating interior design accessories."
route: services

h1: "Handmade"
descriptor: "We create design elements of decoration that complement and accent the style of the interior."
mocText: "Decor items are the final detail of your home interior."

secondScreenH2: "Handmade design in Kiev"
secondScreenText: "We create interior items. <br><br>In our spare time, we create handmade interior elements that successfully emphasize the individuality of the object."

thirdScreenText: "We take into account a particular interior and figure out how we can complement it. Sometimes, one detail is enough to change the visual perception of the room for the better."

fourthScreenH2: "Simple and functional things"
fourthScreenText: "Collages, paintings, plaster products, bas-reliefs, handmade lamps. We are confident that the interior creates a décor: it emphasizes detail and gives a pleasant impression."

fivethScreenH2: "Complete the interior"
fivethScreenText: "We aren’t looking for references. We follow our own path when inventing decor elements. It just so happens that the simple thing, placed in the right place, completes the composition."

sixthScreenH2: "Details are important"
sixthScreenText: "Just look at it: with the usual solutions that are placed in unusual places, we’re able to convey the mood of the interior."

sliderText: "When you'll drink coffee and look at the details in your house, you will understand that you made the right choice."


---

{% include "layouts/_handmade.html" %}