---
title: Architect Andrey Bulbach. Architecture and interior design in Kiev.
description: "Architectural, Interior Design and Applied Design at Kiev from Andrey Bulbach. From the sketch and idea of ​​the house to the construction."
route: main
h1: "Andriy Bulbakh"
descriptor: "Architecture and design"

secondScreenText: "Our team work slowly, enjoying the taste of every detail of a future project. Architecture has been the meaning of our lives for 25 years. We create architecture, interiors, furniture and decor."

firstServiceName: "Architecture"
secondServiceName: "Interior"
thirdServiceName: "Handmade"

afterServicesScreenText: We design commercial and residential real estate.<br><br>Our team consider the direction of the wind, the sides of the world, the environment, the proportions of the "golden intersection" and many other details.

lastScreenH2: "Our design is handmade"
lastScreenText: "First, we do all the sketches the traditional way: on paper and with a pencil in our hands. We believe this is the right way to find the idea for your home."



---

{% include "layouts/_home.html" %}
