---
title: Architect Andrey Bulbach. Architecture and interior design in Kiev.
description: "Architectural, Interior Design and Applied Design at Kiev from Andrey Bulbach. From the sketch and idea of ​​the house to the construction."
route: main
---
{% extends "layouts/_layout.html" %}
{% block content %}
<header class="header">
  <div class="container header__container">
    <div class="header__text-content">
      <h1>Andriy Bulbakh</h1>
      <p class="descriptor">Architects and design</p>
    </div>
    <div class="header__img">
      <div class="header__img__wrapper img-wrapper">
        <div class="header__img__rewealer"></div>
        <img data-mob="img/mob/header-img" data-pc="img/header-img" src="/" alt="house">
      </div>
    </div>
    <div class="header-img-shadow"></div>
  </div>
</header>
<main>
  <div class="extra-text center">
    <div class="container margin-top center-container">
      <p>Me and my team work slowly, enjoying the taste of every detail of a future object. Architecture has been the meaning of our lives for 25 years. We create architecture, interiors, furniture and decor.</p>
    </div>
  </div>
  <section class="section service">
    <div class="service-item mob-left">
      <div class="container">
        <div class="service-item__content-wrapper">
          <a href="architecture.html" class="img-wrapper">
            <div class="img-rewealer left"></div>
            <div class="img-overlay"></div>
            <img data-mob="img/mob/services-main/1" data-pc="img/services-main/1" src="/" alt="services-1">
          </a>
          <div class="service-name left">
            <span class="service-name__num">01</span>
            <div class="stroke-a">
              <h2 class="stroke-link"><span><a href="architecture.html">Architecture</a></span></h2>
              {% include "partials/_stroke.html" %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section service">
    <div class="service-item mob-right">
      <div class="container">
        <div class="service-item__content-wrapper reverse">
          <a href="interior.html" class="img-wrapper">
            <div class="img-rewealer right"></div>
            <div class="img-overlay"></div>
            <img data-mob="img/mob/services-main/2" data-pc="img/services-main/2" src="/" alt="services-2">
          </a>
          <div class="service-name right">
            <span class="service-name__num">02</span>
            <div class="stroke-a">
              <h2 class="stroke-link"><span><a href="interior.html">Interior</a></span></h2>
              {% include "partials/_stroke.html" %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section service">
    <div class="service-item mob-left">
      <div class="container">
        <div class="service-item__content-wrapper">
          <a href="handmade.html" class="img-wrapper">
            <div class="img-rewealer left"></div>
            <div class="img-overlay"></div>
            <img data-mob="img/mob/services-main/3" data-pc="img/services-main/3" src="/" alt="services-3">
          </a>
          <div class="service-name left">
            <span class="service-name__num">03</span>
            <div class="stroke-a">
              <h2 class="stroke-link"><span><a href="handmade.html">Handmade</a></span></h2>
              {% include "partials/_stroke.html" %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="extra-text">
    <div class="container second-line margin-top">
      <p>We design commercial and residential real estate. <br><br>
        Our team take into account the direction of the wind, the sides of the world, the environment, the proportions of the "golden intersection" and many other details.</p>
    </div>
  </div>
  <section class="section default">
    <div class="default-item">
      <div class="container last">
        <div class="default-item__content-wrapper">
          <div class="img-wrapper">
            <div class="img-rewealer left"></div>
            <img data-mob="img/mob/handmade" data-pc="img/handmade" src="/" alt="handmade">
          </div>
          <div class="default-text left">
            <h2 class="def-h2">Our design is handmade</h2>
            <p>First, we do all the sketches the traditional way: on paper and with a pencil in our hands.
              We aren't ashamed of this because we believe this is the right way to find the idea for your home.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% include "./partials/_footer.html" %}
{% endblock %}
