{% set 'title' = "Interior Design in Kiev by Andriy Bulbach: All Real Estate Types." %}
{% set 'description' = "Creating interior design for commercial and residential real estate in Kiev. Design project, planning, selection of materials, furniture and accessories." %}
{% set 'route' = 'services' %}

{% set 'h1' = "Interior" %}
{% set 'descriptor' = "The interior is an extension of the exterior that provides aesthetics, comfort and functionality." %}
{% set 'mocText' = "We believe that the design of the house is a reflection of its owners. It tells who their owners are and what they are unique about." %}

{% set 'secondScreenH2' = "Interior design in Kiev" %}
{% set 'secondScreenText' = "We create interior design for private and commercial real estate. <br><br>We develop design projects, help to choose materials, furniture and bring it to life." %}
 
{% set 'thirdScreenText' = "When we create an interior, we take into account the wishes of the customers, their preferences, looks, style and lifestyle." %}

{% set 'fourthScreenH2' = "We consider the lifestyle of the client" %}
{% set 'fourthScreenText' = "We see and feel what design the client needs. We believe that the interior should be comfortable, cozy, functional and reflect the lifestyle."
 %}

{% set 'fivethScreenH2' = "Let's realize the dream of a perfect interior" %}
{% set 'fivethScreenText' = "We make design sketches that we bring to life using invoices of real materials. It means that reality will be no different from the project." %}

{% set 'sixthScreenH2' = "Take a look at our projects" %}
{% set 'sixthScreenText' = "We created these based on inspiration from meeting with our customers. We’re inspired by people and their lifestyles that can be reflected in design." %}

{% set 'sliderText' = "When you'll drink coffee in your house, you will understand that you made the right choice." %}



{% include "layouts/_interior.html" %}