<div class="navbar">
  <div class="navbar__container container">
    <a href="/" class="logo">
      <img src="img/logo.svg" alt="logo">
    </a>
    <div class="burger-wrapper">
      <button class="burger">
        <span class="burger-line line-top"></span>
        <span class="burger-line line-bottom"></span>
      </button>
    </div>
  </div>
</div>
<nav class="nav">
  <div class="nav__container container">
    <div class="nav__wrapper">
      <ul class="nav__items">
        <li class="nav__item stroke-a"><a class="stroke-link" href="/"><span>01</span>Home</a>{% include "partials/_stroke.html" %}</li>
        <li class="nav__item stroke-a"><a class="stroke-link" href="architecture.html"><span>02</span>Architecture</a>{% include "partials/_stroke.html" %}</li>
        <li class="nav__item stroke-a"><a class="stroke-link" href="interior.html"><span>03</span>Interior</a>{% include "partials/_stroke.html" %}</li>
        <li class="nav__item stroke-a"><a class="stroke-link" href="handmade.html"><span>04</span>Handmade</a>{% include "partials/_stroke.html" %}</li>
        <li class="nav__item stroke-a"><a class="stroke-link" href="about.html"><span>05</span>About</a>{% include "partials/_stroke.html" %}</li>
        <li class="nav__item stroke-a"><a class="stroke-link" href="contacts.html"><span>06</span>Contacts</a>{% include "partials/_stroke.html" %}</li>
      </ul>
      <div class="nav__contacts">
        {% include "partials/_logo.html" %}
        <a href="#" class="contact">+38 (067) 629 4813</a>
        <a href="#" class="contact">vulbach2@gmail.com</a>
        <a href="#" class="contact">Ukraine, Kiev<br>st. Parkovo-Syretskaya, 4V</a>
      </div>
    </div>
  </div>
  <div class="nav__rewealer"></div>
  <div class="nav__rewealer-white"></div>
</nav>