<div class="slideshow">
  <div class="slide">
    <div class="slide__wrap">
      <div class="slide__img" style="background-image: url(img/slide-1.jpg);"></div>
      <div class="slide__title-wrap">
      </div>
    </div>
  </div>
  <div class="slide">
    <div class="slide__wrap">
      <div class="slide__img" style="background-image: url(img/slide-2.jpg);"></div>
      <div class="slide__title-wrap">
      </div>
    </div>
  </div>
  <div class="slide">
    <div class="slide__wrap">
      <div class="slide__img" style="background-image: url(img/slide-3.jpg);"></div>
      <div class="slide__title-wrap">
      </div>
    </div>
  </div>
</div><!-- /slideshow -->
<nav class="boxnav">
  <button class="boxnav__item boxnav__item--prev">
    <svg class="icon icon--caret">
      <path d="M15.45 2.8L12.65 0l-12 12 12 12 2.8-2.8-9.2-9.2z" />
    </svg>
  </button>
  <div class="boxnav__item boxnav__item--label">
    <span class="boxnav__label boxnav__label--current">1</span>
    <span class="boxnav__label boxnav__label--total"></span>
  </div>
  <button class="boxnav__item boxnav__item--next">
    <svg class="icon icon--caret-rot">
      <path d="M15.45 2.8L12.65 0l-12 12 12 12 2.8-2.8-9.2-9.2z" />
    </svg>
  </button>
</nav>
<!-- </div> -->
<!--     <div class="button button__white button__slider">
      <span class="main-text">Дивитися більше</span>
      <div class="button__bg"><span>Дивитися більше</span></div>
    </div> -->
