{% set 
architecture = [
	{
		photo: "/img/architecture/slider/1.jpg"
	},
		{
		photo: "/img/architecture/slider/2.jpg"
	},
			{
		photo: "/img/architecture/slider/3.jpg"
	}
] 
%}

{% set 
interior = [
	{
		photo: "/img/interior/slider/1.jpg"
	},
		{
		photo: "/img/interior/slider/2.jpg"
	},
			{
		photo: "/img/interior/slider/3.jpg"
	}
] 
%}

{% set 
handmade = [
	{
		photo: "/img/handmade/slider/1.jpg"
	},
		{
		photo: "/img/handmade/slider/2.jpg"
	},
			{
		photo: "/img/handmade/slider/3.jpg"
	}
] 
%}