{% include "../partials/_media-tags.html" %}

<body class="custom loading">
  <div class="loader">
    {% include "partials/_loader-logo.html" %}
    <span class="loader-text">
    {% if lang %}Естетика життєвого простору{% else %}Aesthetics of living space{% endif %}
  </span>
  </div>
  <div class="page-rewealer">
    <div class="page-rewealer--bg"></div>
    <div class="page-rewealer--slide"></div>
  </div>
  {% include "partials/_nav.html" %}
  {% include "partials/_scroll-progress.html" %}
  <div class="site-wrapper" data-router-wrapper>
    <div data-router-view="{% if route %}{{ route }}{% else %}Template{% endif %}">
      <!-- BEGIN content -->
      {% block content %}{% endblock %}
      <!-- END content -->
    </div>
  </div>
  <!-- BEGIN scripts -->
  <script src="../js/app.js"></script>
  <!-- END scripts -->
</body>

</html>
