---
title: "Архітектор Андрій Бульбах: про мене, мою команду та підхід до роботи."
description: "Я — Андрій Бульбах, архітектор та дизайнер інтер’єрів з Києва. Проєктую комерційну й житлову нерухомість, створюю дизайн інтер'єрів для житла, офісів, готелів."
route: about
lang: uk

h1: "Про нас"
descriptor: "Працюємо неспішно, з насолодою"

secondScreenText: "Будемо знайомі — я Андрій Бульбах,  дизайнер та архітектор  з особливим поглядом на звичайні речі та 20-ти річним досвідом проектування житлової та комерційної нерухомості. Також займаюся створенням дизайну інтер’єрів та прикладним дизайном."

thirdScreenH2: Створюємо простір для життя, творчості та роботи
thirdScreenText: "Вважаю, що будинок або офіс — це простір, в якому ви повинні відчувати себе вільно та комфортно, заряджаючись енергією для нових звершень. <br><br>Більше функціональності і світла, більше задоволення та нічого зайвого. Ми створюємо архітектуру та інтер’єри, які кожного дня дарують натхнення та впевнений настрій."

fourthScreenH2: "Ви — особистість. Моє завдання — відобразити це у архітектурі"
fourthScreenText: "Місце, в якому ви будете жити або працювати — це ваше відображення. Простір, що відповідає вашому стилю життя, звичкам та характеру."

fivethScreenText: "Ми пропонуємо продумані та естетично привабливі проєкти з якісних матеріалів, у яких все буде так, як ви забажаєте"

sixthScreenH2: "Ми — родина вузькокваліфікованих спеціалістів"
sixthScreenText: "Кожен з нас несе відповідальність за свою частину роботи. Разом ми створюємо проєкти, від яких у клієнтів приємно перехоплює подих <br><br>З 2010 року будуємо будинки для країн Європи: Іспанії, Польщі, Словачини. За цей час ми навчилися створювати по-справжньому енергоефективне та комфортне житло."

---
{% include "layouts/_about.html" %}
