{% set 'title' = "Архітектурні проєкти у Києві: візуалізація та інженерний проєкт. " %}
{% set 'description' = "Архітектурне проєктування житлової та комерційної нерухомості у Києві від Андрія Бульбаха. 3D-візуалізації та будівництво. Типові та індивідуальні проєкти." %}

{% set 'lang' = 'uk' %}
{% set 'route' = "services" %}

{% set 'h1' = "Архітектура" %}
{% set 'descriptor' = "Вивчаємо і враховуємо досвід зодчих минулих поколінь та опираємося на сучасні методи проєктування." %}
{% set 'mocText' = "Як і в музиці, краса в архітектурі — це ритм, пропорції, співвідношення форм, кольорів і матеріалів." %}

{% set 'secondScreenH2' = "Архітектурне проєктування у Києві " %}
{% set 'secondScreenText' = "Проєктуємо приватні будинки та комерційні об’єкти. <br><br>Створюємо архітектурний, конструктивний та інженерний проєкти. Розроблюємо проєктну документацію та допомогаємо підібрати матеріали." %} 

{% set 'thirdScreenText' = "Працюємо як з типовими, так з індивідуальними проєктами. Вже на стадії архітектурного планування ви побачите, як буде виглядати ваш об'єкт." %}

{% set 'fourthScreenH2' = "Архітектура доповнює життя та робить його кращим" %}
{% set 'fourthScreenText' = "Проєкти виконуємо з урахуванням рози вітрів, сторін світу, пропорцій та інших важливих деталей у композиції і архітектурі." %}

{% set 'fivethScreenH2' = "Досвід проєктування — понад 20 років" %}
{% set 'fivethScreenText' = "Враховуючи побажання замовника, ми вивчаємо довкілля, об'єкти, смаки та стиль життя майбутніх мешканців оселі." %}

{% set 'sixthScreenH2' = "Наші проєкти — це синтез мистецтва та архітектури" %}
{% set 'sixthScreenText' = "Ми беремося за проєкти, впевневшись в їхній ексклюзивності та успішності. Чому? Бо ми теж хочемо отримати чудовий результат!" %}

{% set 'sliderText' = "Одного ранку, попиваючи з горняти ароматну каву на ґанку свої оселі та оглядаючись назад, ви відзначите, що зробили правильний вибір, коли довірилися нам." %}
 

{% include "layouts/_architecture.html" %}