---
title: "Декор для інтер’єрів від Андрія Бульбаха: хендмейд на замовлення. "
description: "Дизайнерські елементи інтер'єру ручної роботи: світильники, картини, вази, колажі, барельєфи та інше. Створення фурнітури для дизайну інтер’єра."
route: services
lang: uk

h1: "Декор"
descriptor: "Створюємо дизайнерські елементи декорування,  які доповнюють і підкреслюють стиль інтер'єру. "
mocText: "Предмети декору — це завершаючий акорд інтер'єру вашої оселі."

secondScreenH2: "Прикладний дизайн у Києві"
secondScreenText: "Створюємо предмети інтер'єру. <br><br>У вільний від роботи час створюємо елементи інтер'єру ручної роботи, які вдало підкреслюють індивідуальність об’єкта."

thirdScreenText: "Приймаємо до уваги певний інтер'єр, та вигадуємо, чим можемо його доповнити. Інколи, достатньо однієї деталі, аби змінити візуальне сприйняття приміщення на краще. "

fourthScreenH2: "Прості та функціональні речі"
fourthScreenText: "Колажі, картини, вироби з гіпсу, барельєфи, світильники ручної роботи. Ми впевнені, що інтер'єр формує декор: він підкреслює деталі та викликає приємне враження."

fivethScreenH2: "Доповнюємо інтер'єр"
fivethScreenText: "Ми не шукаємо референси, а слідуємо власним шляхом, коли вигадуємо елементи декору. Буває так, що проста річ, розміщена у правильному місці, завершує композицію."

sixthScreenH2: "Деталі — це важливо"
sixthScreenText: "Лише погляньте: за допомогою звичних рішень, які розміщені у незвичних місцях, нам вдалося передати настрій інтер'єру."

sliderText: "Одного ранку, попиваючи з горняти ароматну каву у вашій оселі та роглядаючи елементи декору, ви відзначите, що зробили правильний вибір, коли довірилися нам."


---

{% include "layouts/_handmade.html" %}