---
title: Архітектор Андрій Бульбах. Архітектура та дизайн інтер’єрів у Києві.
description: "Архітектурне проєктування, дизайн інтер’єрів та прикладний дизайн у Києві від Андрія Бульбаха. Від ескізу та ідеї будинка до будівництва."
route: main
lang: uk

h1: "Андрій Бульбах"
descriptor: "Архітектура та дизайн"

secondScreenText: "Я та моя команда працюємо неспішно, з насолодою, смакуючи кожну деталь майбутнього об'єкту. Архітектура — це сенс нашого життя вже протягом 20 років. Ми створюємо архітектуру, інтер’єри, меблі та декорування."

firstServiceName: "Архітектура"
secondServiceName: "Інтер'єри"
thirdServiceName: "Декор"

afterServicesScreenText: Проєктуємо комерційну та житлову нерухомість.<br><br>В роботі ми враховуємо напрямок вітру, сторони світу, довколишнє середовище, пропорції «золотого перетину» та безліч, на перший погляд, дріб'язкових деталей.

lastScreenH2: "Наш дизайн — це ручна робота"
lastScreenText: "Спочатку, ми робимо всі ескізи традиційним способом - на папері та з олівцем в руках.
Ми цього не соромимося, бо вважаємо, що це спосіб знайти правильну ідею для свого будинку."

---

{% include "layouts/_home.html" %}