{% set 'title' = 'Архітектор Андрій Бульбах. Архітектура та дизайн інтер’єрів у Києві.' %}
{% set 'description' = "Архітектурне проєктування, дизайн інтер’єрів та прикладний дизайн у Києві від Андрія Бульбаха. Від ескізу та ідеї будинка до будівництва." %}
{% set 'route' = 'main' %}
{% set 'lang' = 'uk' %}

{% set 'h1' = "Андрій Бульбах" %}
{% set 'descriptor' = "Архітектура та дизайн" %}

{% set 'secondScreenText' = "Я та моя команда працюємо неспішно, з насолодою, смакуючи кожну деталь майбутнього об'єкту. Архітектура — це сенс нашого життя вже протягом 20 років. Ми створюємо архітектуру, інтер’єри, меблі та декорування." %}

{% set 'firstServiceName' = "Архітектура" %}
{% set 'secondServiceName' = "Інтер'єри" %}
{% set 'thirdServiceName' = "Декор" %}


{% set 'afterServicesScreenText' = "Проєктуємо комерційну та житлову нерухомість.<br><br>В роботі ми враховуємо напрямок вітру, сторони світу, довколишнє середовище, пропорції «золотого перетину» та безліч, на перший погляд, дріб'язкових деталей." %}

{% set 'lastScreenH2' = "Наш дизайн — це ручна робота" %}

{% set 'lastScreenText' = "Спочатку, ми робимо всі ескізи традиційним способом — на папері та з олівцем в руках.
Ми цього не соромимося, бо вважаємо, що це спосіб знайти правильну ідею для вашого об'єкта." %}


{% include "layouts/_home.html" %}
