{% set 'title' = "Дизайн інтер’єрів у Києві від Андрія Бульбаха: усі види нерухомості." %}
{% set 'description' = "Створення дизайну інтер’єрів комерційної та житлової нерухомості у Києві. Дизайн-проєкт, планування, підбір матеріалів, меблів та фурнітури." %}

{% set 'route' = 'services' %}
{% set 'lang' = 'uk' %}

{% set 'h1' = "Інтер'єр" %}
{% set 'descriptor' = "Інтер'єр є продовженням екстер'єру, який забезпечує естетику, комфорт та функціональність." %}
{% set 'mocText' = "Вважаємо, що дизайн оселі — це відзеркалення його мешканців. Він розповідає, ким є її господарі і чим вони унікальні." %}

{% set 'secondScreenH2' = "Дизайн інтер'єрів у Києві" %}
{% set 'secondScreenText' = "Створюємо дизайн інтер'єрів для приватної та комерційної нерухомості <br><br>Розроблюємо дизайн-проєкти, планування, підбираємо матеріали, меблі та втілюємо це в життя." %}
 
{% set 'thirdScreenText' = "При створенні інтер'єру враховуємо побажання замовника, його вподобання, погляди, стиль та спосіб життя. Дизайн оселі розповідає, ким є її господарі і чим вони унікальні." %}

{% set 'fourthScreenH2' = "Ми враховуємо спосіб життя замовника" %}
{% set 'fourthScreenText' = "Бачимо та відчуваємо, який дизайн потрібен клієнту. Вважаємо, що інтер'єр повинен бути зручним, затишним функціональним та відображати стиль життя."
 %}

{% set 'fivethScreenH2' = "Втілимо мрію про ідеальний інтер'єр" %}
{% set 'fivethScreenText' = "Робимо дизайн-ескізи, які втілюємо у життя, використовуючи фактури реальних матеріалів. Це значить, що реальність не буде відрізнятися від проекту." %}

{% set 'sixthScreenH2' = "Подивіться на наші проєкти" %}
{% set 'sixthScreenText' = "Ми створювали їх керучись натхненням від знайомства з нашими клієнтами. Нас надихають люди та їх стиль життя, який можно відобразити у дизайні. " %}

{% set 'sliderText' = "Одного ранку, попиваючи з горняти ароматну каву у своїй оселі та оглядаючись назад, ви відзначите, що зробили правильний вибір, коли довірилися нам." %}



{% include "layouts/_interior.html" %}